  <div class="loco-gps-table-container" ng-controller="AppCtrl" ng-app="MyApp">
    <mat-card>
<mat-tab-group class="demo-tab-group" #tabGroup>
<mat-tab label="Data">
        <div class="example-header">
            <mat-form-field>
              <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
            </mat-form-field>
          </div>
      <mat-table [dataSource]="dataSource">
        <ng-container matColumnDef="locoId">
          <mat-header-cell *matHeaderCellDef>LOCO ID</mat-header-cell>
          <mat-cell *matCellDef="let element" > {{element.loco_i}}
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="trainId">
          <mat-header-cell *matHeaderCellDef>TRAIN ID</mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.train_i}}
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="subdivision">
          <mat-header-cell *matHeaderCellDef>SD</mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.trans_subdiv_c}}
          </mat-cell>
        </ng-container>
        <!--<ng-container matColumnDef="deviceId">-->
          <!--<mat-header-cell *matHeaderCellDef>DEVICE ID</mat-header-cell>-->
          <!--<mat-cell *matCellDef="let element"> {{element.device_i}}-->
          <!--</mat-cell>-->
        <!--</ng-container>-->
        <ng-container matColumnDef="lat">
          <mat-header-cell *matHeaderCellDef>LAT</mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.latitude_m}}
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="long">
          <mat-header-cell *matHeaderCellDef>LONG</mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.longitude_m}}
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="reportDate">
          <mat-header-cell *matHeaderCellDef>DATE</mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.report_est_d}}
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="speed">
          <mat-header-cell *matHeaderCellDef>SPEED</mat-header-cell>
          <mat-cell *matCellDef="let element" > {{element.loco_speed_m}}
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="stats">
            <mat-header-cell *matHeaderCellDef>Stats</mat-header-cell>
            <mat-cell *matCellDef="let element" > <button mat-button (click)="randomize(element); tabGroup.selectedIndex = 3">
                User Profile
              </button>
            </mat-cell>
          </ng-container>
        <!--<ng-container matColumnDef="signalStrength">-->
          <!--<mat-header-cell *matHeaderCellDef>STRENGTH</mat-header-cell>-->
          <!--<mat-cell *matCellDef="let element">-->
            <!--{{element.signal_strength_m}} </mat-cell>-->
        <!--</ng-container>-->
        <!--<ng-container matColumnDef="signalQuality">-->
          <!--<mat-header-cell *matHeaderCellDef>QUALITY</mat-header-cell>-->
          <!--<mat-cell *matCellDef="let element">-->
            <!--{{element.signal_quality_c}} </mat-cell>-->
        <!--</ng-container>-->
        <mat-header-row
          *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns:
displayedColumns;"  ></mat-row>
      </mat-table>
    </mat-tab>

  <mat-tab label="Worst Rankings">
  <mat-card class="example-card">
      <h1>1</h1><mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
       <mat-card-title>{{ peopledata[0].name }}</mat-card-title>
        <mat-card-subtitle>Dog Breed</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image style="height:250px; width:auto" src={{peopledata[0].url}} alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
          {{ chosen.profileInfo }}
        </p>
        <p>
            Likes:<mat-card-subtitle>{{peopledata[0].likes}}</mat-card-subtitle>
            Reprimands:<mat-card-subtitle>{{peopledata[0].reprimands}}</mat-card-subtitle>

        </p>
      </mat-card-content>
      </mat-card>

      <mat-card class="example-card" >
          <h1>2</h1> <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>{{ peopledata[2].name }}</mat-card-title>
            <mat-card-subtitle>Dog Breed</mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image style="height:250px; width:auto" src={{peopledata[2].url}} alt="Photo of a Shiba Inu">
          <mat-card-content>
            <p>
              {{ peopledata[2].profileInfo }}
            </p>
            <p>
                Likes:<mat-card-subtitle>{{peopledata[2].likes}}</mat-card-subtitle>
                Reprimands:<mat-card-subtitle>{{peopledata[2].reprimands}}</mat-card-subtitle>

            </p>
          </mat-card-content>
          </mat-card>

          <mat-card class="example-card" >
              <h1>3</h1> <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>{{ peopledata[3].name }}</mat-card-title>
                <mat-card-subtitle>Dog Breed</mat-card-subtitle>
              </mat-card-header>
              <img mat-card-image style="height:250px; width:auto" src={{peopledata[3].url}} alt="Photo of a Shiba Inu">
              <mat-card-content>
                <p>
                  {{ peopledata[3].profileInfo }}
                </p>
                <p>
                    Likes:<mat-card-subtitle>{{peopledata[3].likes}}</mat-card-subtitle>
                    Reprimands:<mat-card-subtitle>{{peopledata[3].reprimands}}</mat-card-subtitle>

                </p>
              </mat-card-content>
              </mat-card>

        </mat-tab>

        <mat-tab label="Best Rankings">

                <mat-card class="example-card" >
                    <h1>1</h1> <mat-card-header>
                      <div mat-card-avatar class="example-header-image"></div>
                      <mat-card-title>{{ peopledata[4].name }}</mat-card-title>
                      <mat-card-subtitle>Cat Breed</mat-card-subtitle>
                    </mat-card-header>
                    <img mat-card-image style="height:250px; width:auto" src={{peopledata[4].url}} alt="Photo of a Shiba Inu">
                    <mat-card-content>
                      <p>
                        {{ peopledata[4].profileInfo }}
                      </p>
                      <p>
                          Likes:<mat-card-subtitle>{{peopledata[4].likes}}</mat-card-subtitle>
                          Reprimands:<mat-card-subtitle>{{peopledata[4].reprimands}}</mat-card-subtitle>

                      </p>
                    </mat-card-content>
                    </mat-card>

                    <mat-card class="example-card" >
                        <h1>2</h1> <mat-card-header>
                          <div mat-card-avatar class="example-header-image"></div>
                          <mat-card-title>{{ peopledata[1].name }}</mat-card-title>
                          <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                        </mat-card-header>
                        <img mat-card-image style="height:250px; width:auto" src={{peopledata[1].url}} alt="Photo of a Shiba Inu">
                        <mat-card-content>
                          <p>
                            {{ peopledata[1].profileInfo }}
                          </p>
                          <p>
                              Likes:<mat-card-subtitle>{{peopledata[1].likes}}</mat-card-subtitle>
                              Reprimands:<mat-card-subtitle>{{peopledata[1].reprimands}}</mat-card-subtitle>

                          </p>
                        </mat-card-content>
                        </mat-card>

                  </mat-tab>

    <mat-tab id="stats">
       <mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>{{ chosen.name }}</mat-card-title>
    <mat-card-subtitle>Dog Breed</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image style="height:250px; width:auto" src={{chosen.url}} alt="Photo of a Shiba Inu">
  <mat-card-content>
    <p>
      {{ chosen.profileInfo }}
    </p>
    <p>
        Likes:<mat-card-subtitle>{{chosen.likes}}</mat-card-subtitle>
        Reprimands:<mat-card-subtitle>{{chosen.reprimands}}</mat-card-subtitle>

    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button id="likes" (click)=userLike()>LIKE</button>
    <button mat-button id="rep" (click)=userRepimend() style="background-color: red; color: white">Reprimand</button>
    <button mat-button style="background-color: yellow" (click)="tabGroup.selectedIndex = 0">
        Back
      </button>
  </mat-card-actions>
</mat-card>



    </mat-tab>



  </mat-tab-group>
    </mat-card>
</div>
